@page "/Async"
@inherits ComponentBase

    <div class="form-group">
        <label for="exampleInputEmail1">Salary</label>
        <input type="text" class="form-control" id="salary" aria-describedby="salaryHelp" value="@(String.Format("{0:C}", this.Salary))" disabled>
        <small id="salaryHelp" class="form-text text-muted">Salary appears here when you click a button below.  F5 the page after Deadlock.</small>
    </div>

    <div class="m-2">
        @this.MyButton
        @this.BossButton
        @this.DeadlockButton
        @*<button class="btn btn-dark" @onclick="e => this.ButtonClicked(2)">My Salary</button>
            <button class="btn btn-warning" @onclick="e => this.ButtonClicked(1)">My Boss's</button>
            <button class="btn btn-danger" @onclick="e => this.UnsafeButtonClicked()">Death By Deadlock</button>*@
    </div>

    <h6>@this.Message</h6>

