@namespace CEC.Blazor.Server.Pages.Components
@inherits RecordComponentBase<DbWeatherForecast>

        <UICard>

            <Header>
                @this.PageTitle
            </Header>

            <Body>

                <UIErrorHandler IsError="this.IsError" IsLoading="this.IsLoading" >

                    <UIContainer>

                        <UIRow>

                            <UIColumn Columns="2">
                                Date
                            </UIColumn>

                            <UIColumn Columns="4">
                                <FormControlPlainText Value="@this.Service.Record.Date.AsShortDate()"></FormControlPlainText>
                            </UIColumn>

                            <UIColumn Columns="2">
                                Frost
                            </UIColumn>

                            <UIColumn Columns="4">
                                <FormControlPlainText Value="@this.Service.Record.Frost.AsYesNo()"></FormControlPlainText>
                            </UIColumn>

                        </UIRow>

                        <UIRow>

                            <UIColumn Columns="2">
                                Temperature &deg;C
                            </UIColumn>

                            <UIColumn Columns="4">
                                <FormControlPlainText Value="@this.Service.Record.TemperatureC.ToString()"></FormControlPlainText>
                            </UIColumn>

                            <UIColumn Columns="2">
                                Temperature &deg;F
                            </UIColumn>

                            <UIColumn Columns="4">
                                <FormControlPlainText Value="@this.Service.Record.TemperatureF.ToString()"></FormControlPlainText>
                            </UIColumn>

                        </UIRow>

                        <UIRow>

                            <UIColumn Columns="2">
                                Summary
                            </UIColumn>

                            <UIColumn Columns="4">
                                <FormControlPlainText Value="@this.Service.Record.Summary.ToString()"></FormControlPlainText>
                            </UIColumn>

                            <UIColumn Columns="2">
                                Outlook
                            </UIColumn>

                            <UIColumn Columns="4">
                                <FormControlPlainText Value="@this.Service.Record.Outlook.ToString()"></FormControlPlainText>
                            </UIColumn>

                        </UIRow>

                        <UIRow>

                            <UIColumn Columns="2">
                                Description
                            </UIColumn>

                            <UIColumn Columns="10">
                                <FormControlPlainText Value="@this.Service.Record.Description"></FormControlPlainText>
                            </UIColumn>

                        </UIRow>

                        <UIRow>

                            <UIColumn Columns="2">
                                Detail
                            </UIColumn>

                            <UIColumn Columns="10">
                                <FormControlPlainText Value="@this.Service.Record.Detail"></FormControlPlainText>
                            </UIColumn>

                        </UIRow>

                        <UIRow>
                            <UIButtonColumn Columns="12">
                                <UIButton Show="!this.IsModal" ButtonColour="@UIButton.Colour.BtnSecondary" ClickEvent="(e => this.NavigateTo(PageExitType.ExitToList))">
                                    Exit To List
                                </UIButton>
                                <UIButton Show="!this.IsModal" ButtonColour="@UIButton.Colour.BtnSecondary" ClickEvent="(e => this.NavigateTo(PageExitType.ExitToLast))">
                                    Exit
                                </UIButton>
                                <UIButton Show="this.IsModal" ButtonColour="@UIButton.Colour.BtnSecondary" ClickEvent="(e => this.ModalExit())">
                                    Exit
                                </UIButton>
                            </UIButtonColumn>
                        </UIRow>

                    </UIContainer>

                </UIErrorHandler>

            </Body>

        </UICard>
