@namespace CEC.Blazor.Server.Pages.Components

@inherits ListComponentBase<WeatherForecast>
<UIWrapper UIOptions="@this.UIOptions" RecordConfiguration="@this.Service.RecordConfiguration" OnView="@OnView" OnEdit="@OnEdit">

    <UICardGrid TItem="WeatherForecast" IsCollapsible="true" Paging="this.Paging">

        <Title>
            @this.ListTitle
        </Title>

        <TableHeader>

            <UIGridTableHeaderColumn TRecord="WeatherForecast" Column="1" FieldName="WeatherForecastID">ID</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="WeatherForecast" Column="2" FieldName="Date">Date</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="WeatherForecast" Column="3" FieldName="Description">Description</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="WeatherForecast" Column="4" FieldName="TemperatureC">@((MarkupString)"Temp &deg;C")</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="WeatherForecast" Column="5" FieldName="Summary">Summary</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="WeatherForecast" Column="6" FieldName="Outlook">Outlook</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="WeatherForecast" Column="7"></UIGridTableHeaderColumn>

        </TableHeader>

        <RowTemplate>

            <CascadingValue Name="RecordID" Value="@context.WeatherForecastID">

                <UIGridTableColumn TRecord="WeatherForecast" Column="1">@context.WeatherForecastID</UIGridTableColumn>
                <UIGridTableColumn TRecord="WeatherForecast" Column="2">@context.Date.ToShortDateString()</UIGridTableColumn>
                <UIGridTableColumn TRecord="WeatherForecast" Column="3">@context.Description</UIGridTableColumn>
                <UIGridTableColumn TRecord="WeatherForecast" Column="4">@context.TemperatureC</UIGridTableColumn>
                <UIGridTableColumn TRecord="WeatherForecast" Column="5">@context.Summary</UIGridTableColumn>
                <UIGridTableColumn TRecord="WeatherForecast" Column="6">@context.Outlook</UIGridTableColumn>
                <UIGridTableEditColumn TRecord="WeatherForecast"></UIGridTableEditColumn>

            </CascadingValue>

        </RowTemplate>

        <Navigation>

            <UIListButtonRow>
                <Paging>
                    <UIPagingControl TRecord="WeatherForecast" Paging="this.Paging"></UIPagingControl>
                </Paging>
            </UIListButtonRow>

        </Navigation>

    </UICardGrid>

</UIWrapper>

<BootstrapModal @ref="this._BootstrapModal"></BootstrapModal>
