@namespace CEC.Blazor.Server.Pages.Components
@inherits RecordComponentBase<WeatherForecast>

<UIErrorHandler IsError="@this.IsError">

    <CascadingValue Name="WeatherForecastID" Value="this.Service.RecordID">

        <UICard MoreCardCss="@this.CardCSS">

            <Header>
                Weather Forecast Viewer - @this.Service.Record.Date.AsShortDate()
            </Header>

            <Body>
                <UIContainer>

                    <UIRow>

                        <UIRow Columns="2">
                            Date
                        </UIRow>

                        <UIRow Columns="4">
                            <FormControlPlainText Value="@this.Service.Record.Date.AsShortDate()"></FormControlPlainText>
                        </UIRow>

                        <UIRow Columns="2">
                            Frost
                        </UIRow>

                        <UIRow Columns="4">
                            <FormControlPlainText Value="@this.Service.Record.Frost.AsYesNo()"></FormControlPlainText>
                        </UIRow>

                    </UIRow>

                    <UIRow>

                        <UIRow Columns="2">
                            Temperature &deg;C
                        </UIRow>

                        <UIRow Columns="4">
                            <FormControlPlainText Value="@this.Service.Record.TemperatureC.ToString()"></FormControlPlainText>
                        </UIRow>

                        <UIRow Columns="2">
                            Temperature &deg;F
                        </UIRow>

                        <UIRow Columns="4">
                            <FormControlPlainText Value="@this.Service.Record.TemperatureF.ToString()"></FormControlPlainText>
                        </UIRow>

                    </UIRow>

                    <UIRow>

                        <UIRow Columns="2">
                            Summary
                        </UIRow>

                        <UIRow Columns="4">
                            <FormControlPlainText Value="@this.Service.Record.Summary.ToString()"></FormControlPlainText>
                        </UIRow>

                        <UIRow Columns="2">
                            Outlook
                        </UIRow>

                        <UIRow Columns="4">
                            <FormControlPlainText Value="@this.Service.Record.Outlook.ToString()"></FormControlPlainText>
                        </UIRow>

                    </UIRow>

                    <UIRow>

                        <UIRow Columns="2">
                            Description
                        </UIRow>

                        <UIRow Columns="10">
                            <FormControlPlainText Value="@this.Service.Record.Description"></FormControlPlainText>
                        </UIRow>

                    </UIRow>

                    <UIRow>

                        <UIRow Columns="2">
                            Detail
                        </UIRow>

                        <UIRow Columns="10">
                            <FormControlPlainText Value="@this.Service.Record.Detail"></FormControlPlainText>
                        </UIRow>

                    </UIRow>

                    <UIRow>
                        <UIButtonColumn Columns="12">
                            @if (!this.IsModal)
                            {
                                <button class="btn btn-secondary btn-sm" @onclick="(e => this.NavigateTo(PageExitType.ExitToList))">
                                    Exit To List
                                </button>
                                <button class="btn btn-secondary btn-sm" @onclick="(e => this.NavigateTo(PageExitType.ExitToRoot))">
                                    Exit
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-secondary btn-sm" @onclick="(e => this.ModalExit())">
                                    Exit
                                </button>

                            }
                        </UIButtonColumn>
                    </UIRow>


                </UIContainer>

            </Body>

        </UICard>

    </CascadingValue>

</UIErrorHandler>