@namespace CEC.Blazor.Components.UIControls
@inherits ComponentBase

@if (this.isRow)
{
    <div class="@this.RowCss">

        @if (this.ShowLabel)
        {
            <label class="@this.LabelCss  col-form-label @this.RequiredCss">
                @if (this.IsLabel)
                {
                    @(this.LabelText)
                }
                else
                {
                    @LabelControl
                }
            </label>
        }
        <div class="@this.ControlCss">
            @ChildContent
        </div>
    </div>
}
else
{
    @if (this.ShowLabel)
    {
        <label class="@this.LabelCss  col-form-label @this.RequiredCss">
            @if (this.IsLabel)
            {
                @(this.LabelText)
            }
            else
            {
                @LabelControl
            }
        </label>
    }
    <div class="@this.ControlCss">
        @ChildContent
    </div>
}
