@namespace CEC.Weather.Components
@using CEC.Blazor.Components
@using CEC.Blazor.Components.Base
@using CEC.Blazor.Components.UIControls
@using CEC.Weather.Data
@using CEC.Blazor.Extensions
@using CEC.FormControls.Components.FormControls

@inherits ListComponentBase<DbWeatherForecast>

<UIWrapper UIOptions="@this.UIOptions" RecordConfiguration="@this.Service.RecordConfiguration" OnView="@OnView" OnEdit="@OnEdit">

    <UICardGrid TRecord="DbWeatherForecast" IsCollapsible="true" Paging="this.Paging" IsLoading="this.Loading">

        <Title>
            @this.ListTitle
        </Title>

        <TableHeader>

            <UIGridTableHeaderColumn TRecord="DbWeatherForecast" Column="1" FieldName="WeatherForecastID">ID</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="DbWeatherForecast" Column="2" FieldName="Date">Date</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="DbWeatherForecast" Column="3" FieldName="Description">Description</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="DbWeatherForecast" Column="4" FieldName="TemperatureC">@((MarkupString)"Temp &deg;C")</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="DbWeatherForecast" Column="5" FieldName="Summary">Summary</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="DbWeatherForecast" Column="6" FieldName="Outlook">Outlook</UIGridTableHeaderColumn>
            <UIGridTableHeaderColumn TRecord="DbWeatherForecast" Column="7"></UIGridTableHeaderColumn>

        </TableHeader>

        <RowTemplate>

            <CascadingValue Name="RecordID" Value="@context.WeatherForecastID">

                <UIGridTableColumn TRecord="DbWeatherForecast" Column="1">@context.WeatherForecastID</UIGridTableColumn>
                <UIGridTableColumn TRecord="DbWeatherForecast" Column="2">@context.Date.ToShortDateString()</UIGridTableColumn>
                <UIGridTableColumn TRecord="DbWeatherForecast" Column="3">@context.Description</UIGridTableColumn>
                <UIGridTableColumn TRecord="DbWeatherForecast" Column="4">@context.TemperatureC</UIGridTableColumn>
                <UIGridTableColumn TRecord="DbWeatherForecast" Column="5">@context.Summary</UIGridTableColumn>
                <UIGridTableColumn TRecord="DbWeatherForecast" Column="6">@context.Outlook</UIGridTableColumn>
                <UIGridTableEditColumn TRecord="DbWeatherForecast"></UIGridTableEditColumn>

            </CascadingValue>

        </RowTemplate>

        <Navigation>

            <UIListButtonRow>
                <Paging>
                    <PagingControl TRecord="DbWeatherForecast" Paging="this.Paging"></PagingControl>
                </Paging>
            </UIListButtonRow>

        </Navigation>

    </UICardGrid>

</UIWrapper>

<BootstrapModal @ref="this._BootstrapModal"></BootstrapModal>
