@namespace CEC.Weather.Components
@using CEC.Blazor.Components
@using CEC.Blazor.Components.Base
@using CEC.Blazor.Components.UIControls
@using CEC.Weather.Data
@using CEC.Blazor.Extensions
@using CEC.FormControls.Components.FormControls

@inherits RecordComponentBase<DbWeatherForecast, WeatherForecastDbContext>

<UICard>

    <Header>
        @this.PageTitle
    </Header>

    <Body>

        <UIErrorHandler IsError="this.IsError" IsLoading="this.IsDataLoading" ErrorMessage="@this.RecordErrorMessage">

            <UIContainer>

                <UIRow>

                    <UILabelColumn Columns="2">
                        Date
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <FormControlPlainText Value="@this.Service.Record.Date.AsShortDate()"></FormControlPlainText>
                    </UIColumn>

                    <UILabelColumn Columns="2">
                        ID
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <FormControlPlainText Value="@this.Service.Record.ID.ToString()"></FormControlPlainText>
                    </UIColumn>

                    <UILabelColumn Columns="2">
                        Frost
                    </UILabelColumn>

                    <UIColumn Columns="2">
                        <FormControlPlainText Value="@this.Service.Record.Frost.AsYesNo()"></FormControlPlainText>
                    </UIColumn>

                </UIRow>

                <UIRow>

                    <UILabelColumn Columns="2">
                        Temperature &deg;C
                    </UILabelColumn>

                    <UIColumn Columns="4">
                        <FormControlPlainText Value="@this.Service.Record.TemperatureC.ToString()"></FormControlPlainText>
                    </UIColumn>

                    <UILabelColumn Columns="2">
                        Temperature &deg;F
                    </UILabelColumn>

                    <UIColumn Columns="4">
                        <FormControlPlainText Value="@this.Service.Record.TemperatureF.ToString()"></FormControlPlainText>
                    </UIColumn>

                </UIRow>

                <UIRow>

                    <UILabelColumn Columns="2">
                        Summary
                    </UILabelColumn>

                    <UIColumn Columns="4">
                        <FormControlPlainText Value="@this.Service.Record.Summary.ToString()"></FormControlPlainText>
                    </UIColumn>

                    <UILabelColumn Columns="2">
                        Outlook
                    </UILabelColumn>

                    <UIColumn Columns="4">
                        <FormControlPlainText Value="@this.Service.Record.Outlook.ToString()"></FormControlPlainText>
                    </UIColumn>

                </UIRow>

                <UIRow>

                    <UILabelColumn Columns="2">
                        Description
                    </UILabelColumn>

                    <UIColumn Columns="10">
                        <FormControlPlainText Value="@this.Service.Record.Description"></FormControlPlainText>
                    </UIColumn>

                </UIRow>

                <UIRow>

                    <UILabelColumn Columns="2">
                        Detail
                    </UILabelColumn>

                    <UIColumn Columns="10">
                        <FormControlPlainText Value="@this.Service.Record.Detail"></FormControlPlainText>
                    </UIColumn>

                </UIRow>

            </UIContainer>

        </UIErrorHandler>

        <UIContainer>

            <UIRow>
                <UIColumn Columns="6">

                    <UIButton Show="this.IsLoaded" ColourCode="Bootstrap.ColourCode.dark" ClickEvent="(e => this.NextRecord(-1))">
                        Previous
                    </UIButton>

                    <UIButton Show="this.IsLoaded" ColourCode="Bootstrap.ColourCode.dark" ClickEvent="(e => this.NextRecord(1))">
                        Next
                    </UIButton>

                </UIColumn>

                <UIButtonColumn Columns="6">

                    <UIButton Show="!this.IsModal" ColourCode="Bootstrap.ColourCode.nav" ClickEvent="(e => this.NavigateTo(PageExitType.ExitToList))">
                        Exit To List
                    </UIButton>

                    <UIButton Show="!this.IsModal" ColourCode="Bootstrap.ColourCode.nav" ClickEvent="(e => this.NavigateTo(PageExitType.ExitToLast))">
                        Exit
                    </UIButton>

                    <UIButton Show="this.IsModal" ColourCode="Bootstrap.ColourCode.nav" ClickEvent="(e => this.ModalExit())">
                        Exit
                    </UIButton>

                </UIButtonColumn>

            </UIRow>


        </UIContainer>

    </Body>

</UICard>
