@using CEC.Blazor.Components
@using CEC.Blazor.Components.BaseForms
@using CEC.Blazor.Components.UIControls
@using CEC.Weather.Data
@using CEC.FormControls.Components.FormControls
@using Microsoft.AspNetCore.Components.Forms
@using Blazored.FluentValidation

@namespace CEC.Weather.Components
@inherits EditRecordFormBase<DbWeatherStation, WeatherForecastDbContext>

<UICard IsCollapsible="false">
    <Header>
        @this.PageTitle
    </Header>

    <Body>
        <CascadingValue Value="@this.RecordFieldChanged" Name="OnRecordChange" TValue="Action<bool>">

            <UIErrorHandler IsError="@this.IsError" IsLoading="this.Loading" ErrorMessage="@this.RecordErrorMessage">

                <UIContainer>

                    <EditForm EditContext="this.EditContext">

                        <FluentValidationValidator DisableAssemblyScanning="@true" />

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Record ID:
                            </UILabelColumn>

                            <UIColumn Columns="4">
                                <FormControlPlainText Value="@this.Service.Record.ID.ToString()"></FormControlPlainText>
                            </UIColumn>

                        </UIFormRow>

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Name:
                            </UILabelColumn>

                            <UIColumn Columns="4">
                                <FormControlText class="form-control" @bind-Value="this.Service.Record.Name" RecordValue="this.Service.ShadowRecord.Name"></FormControlText>
                            </UIColumn>

                            <UIColumn Columns="4">
                                <ValidationMessage For=@(() => this.Service.Record.Name) />
                            </UIColumn>

                        </UIFormRow>

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Latitude
                            </UILabelColumn>

                            <UIColumn Columns="2">
                                <FormControlNumber class="form-control" @bind-Value="this.Service.Record.Latitude" RecordValue="this.Service.ShadowRecord.Latitude"></FormControlNumber>
                            </UIColumn>

                            <UIColumn Columns="6">
                                <ValidationMessage For=@(() => this.Service.Record.Latitude) />
                            </UIColumn>

                        </UIFormRow>

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Longitude
                            </UILabelColumn>

                            <UIColumn Columns="2">
                                <FormControlNumber class="form-control" @bind-Value="this.Service.Record.Longitude" RecordValue="this.Service.ShadowRecord.Longitude"></FormControlNumber>
                            </UIColumn>

                            <UIColumn Columns="6">
                                <ValidationMessage For=@(() => this.Service.Record.Longitude) />
                            </UIColumn>

                        </UIFormRow>

                        <UIFormRow>

                            <UILabelColumn Columns="4">
                                Elevation
                            </UILabelColumn>

                            <UIColumn Columns="2">
                                <FormControlNumber class="form-control" @bind-Value="this.Service.Record.Elevation" RecordValue="this.Service.ShadowRecord.Elevation"></FormControlNumber>
                            </UIColumn>

                            <UIColumn Columns="6">
                                <ValidationMessage For=@(() => this.Service.Record.Elevation) />
                            </UIColumn>

                        </UIFormRow>

                    </EditForm>

                </UIContainer>

            </UIErrorHandler>

            <UIContainer>
                <UIRow>

                    <UIColumn Columns="7">
                        <UIAlert Alert="this.AlertMessage" SizeCode="Bootstrap.SizeCode.sm"></UIAlert>
                    </UIColumn>
                    <UIButtonColumn Columns="5">

                        <UIButton Show="(!this.IsClean) && this.IsLoaded" ClickEvent="this.SaveAndExit" ColourCode="Bootstrap.ColourCode.save">Save &amp; Exit</UIButton>

                        <UIButton Show="(!this.IsClean) && this.IsLoaded" ClickEvent="this.Save" ColourCode="Bootstrap.ColourCode.save">Save</UIButton>

                        <UIButton Show="(!this.IsClean) && this.IsLoaded" ClickEvent="this.ConfirmExit" ColourCode="Bootstrap.ColourCode.danger_exit">Exit Without Saving</UIButton>

                        <UIButton Show="this.IsClean" ClickEvent="this.TryExit" ColourCode="Bootstrap.ColourCode.nav">Exit</UIButton>

                    </UIButtonColumn>

                </UIRow>

            </UIContainer>

        </CascadingValue>

    </Body>

</UICard>


