@namespace CEC.Blazor.Components.UIControls
@inherits UICardListBase

@typeparam TItem

<div class="card @this.CardCSS">
    <div class="card-header @this.CardHeaderCSS">
        <div class="float-left">
                <span class="@HeaderFontSize">@this.ListTitle</span>
        </div>
        @if (this.IsCollapsible)
        {
            <button class="btn @CardButtonCSS float-right" style="padding: 3px;" @onclick="(e => this.Toggle())">
                @this.CollapseText
            </button>
        }
    </div>
    <div class="card-body @this.CardBodyCSS @this.CollapseCSS">
        @Navigation
        @Top
        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover border-bottom no-margin">
                <thead class="thead-light">
                    <tr>@TableHeader</tr>
                </thead>
                @if (Items == null || Items.Count < 1)
                {
                    <caption style="caption-side:bottom;">
                        <span class="no-records">No Records Retrieved</span>
                    </caption>
                }
                <tbody>
                    @if (Items == null)
                    {
                        <tr><td colspan="@this.Columns">No Records Retrieved</td></tr>
                    }
                    else
                    {
                        foreach (var item in Items)
                        {
                            <tr>@RowTemplate(item)</tr>
                        }
                    }
                </tbody>
                <tfoot>
                    <tr>@TableFooter</tr>
                </tfoot>
            </table>
        </div>
        @Footer
    </div>
</div>
