@namespace CEC.Blazor.Components.UIControls
@inherits UICardGridBase

@typeparam TItem

<CascadingValue Value="(UICardGridBase)this">
    <div class="card @this.CardCSS">
        <div class="card-header @this.CardHeaderCSS">
            <div class="float-left">
                <span class="@HeaderFontSize">@this.ListTitle</span>
            </div>
            @if (this.IsCollapsible)
            {
                <button class="btn @CardButtonCSS float-right" style="padding: 3px;" @onclick="(e => this.Toggle())">
                    @this.CollapseText
                </button>
            }
        </div>
        <div class="card-body @this.CardBodyCSS @this.CollapseCSS">
            @Navigation
            @Top
            <UIGridContainer MaxColumn="this.MaxColumn">
                @GridHeader

                @foreach (var item in Items)
                {
                    @GridTemplate(item)
                }
                @Footer
            </UIGridContainer>
        </div>
    </div>
</CascadingValue>